Welcome to <%= node['motd_attributes']['company'] %>
<%= node['motd_attributes']['message'] %>
The hostname of this node is <%= node['virtualization']['system'] %>
The IP address of this node is <%= node['ipaddress'] %>
JAVA_HOME is <%= node['motd_attributes']['java_home'] %>
